<!-- <table class="table table-bordered table-condensed">
	<tr>
		<th>Name (English)</th>
		<th>Name (Urdu)</th>
		<th>Price (Rs)</th>
	</tr>
	<%@meals.each do |meal|%>
		<tr>
			<td><%=meal.name_english%></td>
			<td><%=meal.name_urdu%></td>
			<td><%=meal.price.to_s%></td>
		</tr>
	<%end%>
</table> -->